<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <title>AvouchMD</title>
    <link rel = "stylesheet" href = "{% static 'style.css' %}">
    <link rel = "stylesheet" href = "{% static 'layout.css' %}">
</head>
<body>
<header id="navbar">
    <nav>
        <ul class="left">
            <li><a href="/vouch_site/">Home</a></li>
            <li><a href="/vouch_site/search/">Find a Doctor</a></li>
        </ul>
        <ul class="right">
            {% if user.is_authenticated %}
                <li><a href="/vouch_site/logout/">Logout</a></li>
            {% else %}
                <li><a href="/vouch_site/login/">Login/Sign-Up</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
<div class="container">
    <h1>Welcome</h1>
    <h2>Mission</h2>
    <p style="text-indent: 2em;">
        Our mission is to empower individuals with all medical conditions to find doctors who have real experience treating those conditions. We aim to foster a safe, respectful community that connects patients with knowledgeable healthcare providers who truly understand their needs.
    </p>
    
    <h3>Who we are/how we got started</h3>
    <p style="text-indent: 2em;">
        AVouchMD is currently a one-person operation—so let me introduce myself. My name is Sean, and I’m a software engineer living with Osteogenesis Imperfecta and Ehlers-Danlos Syndrome. About ten years ago, I moved across the country and encountered a challenge I hadn’t anticipated: finding doctors with actual experience treating my conditions. While I eventually found a reputable bone clinic, it was a two-hour drive away. That experience made me realize how difficult it is for people with rare conditions to find knowledgeable care nearby.
    </p>
    <p style="text-indent: 2em;">
        This frustration sparked the idea for AVouchMD—a platform where people with rare and niche conditions can share their experiences and help others find doctors who truly understand their needs. My goal is to build a community where we can support one another by endorsing the doctors who have treated us with knowledge and compassion. I don’t intend to criticize general practitioners, but the truth is, it’s hard to feel confident in care when your doctor has to Google your condition during the appointment.
    </p>
    
    </div>
</body>
<footer>
    <div class="footer">
        <p>&copy; 2024 AvouchMD.</p>
        <p>Contact Us <a href="/vouch_site/contact/">Here</a></p>
    </div>
</footer>
</html>