<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset = "UTF-8">
    <title>AvouchMD</title>
    <link rel = "stylesheet" href = "{% static 'style.css' %}">
    <link rel = "stylesheet" href = "{% static 'layout.css' %}">
    <link rel = "stylesheet" href = "{% static 'login.css' %}?v=3">
</head>
<body>
    <header id="navbar">
        <nav>
        <ul class="left">
            <li><a href="/vouch_site/">Home</a></li>
            <li><a href="/vouch_site/search/">Find a Doctor</a></li>
        </ul>
        <ul class="right">
            <li><a href="/vouch_site/login/">Login/Sign-Up</a></li>
        </ul>
    </header>
<div class="container">
    <div class="login-modal">
        <h2>Create Account</h2>
        {% if errors %}
            <div class="error">
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <form action="/vouch_site/signup/" method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="error">{{ form.non_field_errors }}</div>
            {% endif %}
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" required>
                {% if form.email.errors %}
                    <div class="error">{{ form.email.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" required>
                {% if form.username.errors %}
                    <div class="error">{{ form.username.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required>
                {% if form.password.errors %}
                    <div class="error">{{ form.password.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="reenter_password">Re-Enter Password:</label>
                <input type="password" name="reenter_password" id="reenter_password" required>
                {% if form.password.errors %}
                    <div class="error">{{ form.password.errors }}</div>
                {% endif %}
            </div>
            <input type="submit" value="Create Account">
        </form>
    </div>
</div>
</body>
<footer>
    <div class="footer">
        <p>&copy; 2024 AvouchMD.</p>
        <p>Contact Us <a href="/vouch_site/contact/">Here</a></p>
    </div>
</footer>
</html>
